<!DOCTYPE html>
<html lang="en">
    <%- include('./partialViews/head.ejs') %>
<body>
    <%- include('./partialViews/header.ejs') %>

    <main class="main-productDetail">
        
        <section class="contenedor-productDetail"> 
            <div class="productDetail-img">
                <img src="<%= product.imagen_producto %>" alt="" class="productDetail-imgPrincipal">
                <div class="productDetail-carrusel">
                    <img src="/images/ojotas.jpg" alt="">
                    <!-- <img src="/images/ojotas.jpg" alt="">
                    <img src="/images/ojotas.jpg" alt="">
                    <img src="/images/ojotas.jpg" alt=""> -->
                </div>
            </div>
    
            <div class="productDetail-content">
                <h2><%= product.nombre_producto %></h2>
                <h3 class="productDetail-precio"><%= product.precio_producto %></h3>
                <form action="/carrito" method="GET" class="productDetail-form">
                 <label> Talla 
                     <select name="productDetail-talla" id="">
                         <option value="36">36</option>
                         <option value="37">37</option>
                     </select>
                 </label>
                 <label>Cantidad <input type="number" name="productDetail-cantidad" value="1"> </label>
                 <input type="submit" name="productDetail-btn-agregar-carrito" value="Agregar al Carrito">                
                </form>
                <form action="/productos/<%= product.id %>?_method=delete" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
                <div class="productDetail-caracteristicas">
                   <strong>Caracteristicas</strong>
                   <p>
                    Color: <%= product.color_producto %> <br>
                    Categoría: <%= product.categoria_producto %><br>
                   </p> 
                </div>
            </div>
        </section>
        
       
    </main>
   
    <%- include('./partialViews/footer.ejs') %>
</body>
</html>